{% if person is not defined or person=="none" %}
    <a href="/login">LOGIN</a>
{% else %}
    {% if "accueil" not in request.path and index is not defined %}
        <a href="/">ACCUEIL</a>
    {% endif %}
    {% if "personnel" not in request.path %}
        <a href="/resultats/personnel">{{ person.nickname }}</a>
    {% endif %}
    {% if "equipe" not in request.path %}
        <a href="/resultats/equipe">MON EQUIPE</a>
    {% endif %}
    {% if "reglages" not in request.path %}
        <a href="/reglages">REGLAGES</a>
    {% endif %}
    <a href="/logout">DECONNEXION</a>
{% endif %}

