<div class="activity-box">
  <div class="activity-input-box">
    <h2>Votre activité 
      <ul class="date-picker" id="date-picker">
        <li id="j-2">Avant hier</li>
        <li id="j-1">Hier</li>
        <li id="j-0">Aujourd'hui</li>
      </ul>
      <strong id="date-view">aujourd'hui <button class="activity-filter-btn" id="activity-filter-btn"></button></strong>
    </h2>
    <form id="activity-form" action="">
      <input type="hidden" id="date" name="date" value="0">
      <ul class="input-types">
        <li><img src="/static/images/person/step.png" alt="Pas"><input type="text" class="activity-input" name="input-step" id="input-step">Pas</li>
        <li><img src="/static/images/person/cycle.png" alt="Vélo"><input type="text" class="activity-input" name="input-cycle" id="input-cycle">Min</li>
        <li><img src="/static/images/person/swim.png" alt="Natation"><input type="text" class="activity-input" name="input-swim" id="input-swim">Min</li>
      </ul>
      <button class="submit-activity" id="submit-activity">&gt;</button>
        <div id="dialog-container">
              <h1 id="title-dialog">Error</h1>
              <span id="message-dialog">Vos données ont bien étés enregistréés</span>
              <button type="button" id="button-continue">Ok</button>
          </div>
    </form>
  </div>

  <div class="activity-data">
    <h2>Toute votre activité</h2>
    <div class="tooltip" style="display:none"></div>
    <div class="calendar-wrapper" id="calendar">
      <ul class="calendar">
            {% for key in list_date_steps %}
            <li data-step="{{ key.1 }}" id="date-{{ key.0|datetimeformat('%d-%m') }}" data-date="{{ key.0|datetimeformat('%d / %m') }}"></li>
                {% if loop.index is divisibleby(7) %}
                    </ul>
                    <ul class="calendar">
                {% endif %}
            {% endfor %}
      </ul>
    </div>
    <div class="activity-details">
      <ul>
        <li>Objectif Personnel<br> <strong>{{ person.fitnessInfo.goal or "0" }} Pas/J</strong></li>
        <li>Séquence <br> <strong id="streak">{{ person.fitnessInfo.streak or "0" }} Jours</strong> </li>
        <li>Séquence Record <br> <strong id="best-streak">{{ person.fitnessInfo.bestStreak or "0" }} Jours</strong></li>
      </ul>
    </div>
  </div>
</div>