<div class="activity-box">
  <div class="activity-input-box">
    <h2>Votre activité <strong>aujourd'hui</strong>
      <button class="activity-filter-btn" id="activity-filter-btn"></button>
    </h2>
    <ul class="input-types">
      <li><img src="/static/images/person/step.png" alt="Pas"><input type="text" class="activity-input" id="input-step">Pas</li>
      <li><img src="/static/images/person/cycle.png" alt="Vélo"><input type="text" class="activity-input" id="input-cycle">Km</li>
      <li><img src="/static/images/person/swim.png" alt="Natation"><input type="text" class="activity-input" id="input-swim">Min</li>
    </ul>
  </div>
  <button class="submit-activity" id="submit-activity">&gt;</button>
  <div class="activity-data">
  <div class="tooltip" style="display:none"></div>
    <h2>Toute votre activité</h2>
    <div class="calendar-wrapper" id="calendar">
      <ul class="calendar">
        {% for item in list_stepsNumber %}
            {%- if loop.index is divisibleby(7) %}
                </ul>
                <ul class="calendar">
            {% endif %}
            <li data-step="{{ item.stepnumber }}" data-date="{{ item.date|slice(5) }}"></li>
        {% endfor %}
        {%  set jourRestant=(70-size_list_stepsNumber) %}
        {% for item in range(jourRestant) %}
            {%- if loop.index is divisibleby(7) %}
                </ul>
                <ul class="calendar">
            {% endif %}
            <li></li>
        {% endfor %}
      </ul>
    </div>
    <div class="activity-details">
      <ul>
        <li>Objectif Personnel <br> <strong>{{ person.fitnessInfo.goal }} Pas/J</strong></li>
        <li>Séquence <br> <strong>{{ person.fitnessInfo.streak }} Jours</strong> </li>
        <li>Séquence Record <br> <strong>{{ person.fitnessInfo.bestStreak }} Jours</strong></li>
      </ul>
    </div>
  </div>
</div>