<div class="activity-box">
  <div class="activity-input-box">
    <h2>Votre activité <strong>aujourd'hui</strong>
      <button class="activity-filter-btn" id="activity-filter-btn"></button>
    </h2>
    <ul class="input-types">
      <li><img src="/static/images/person/step.png" alt="Pas"><input type="text" class="activity-input" id="input-step">Pas</li>
      <li><img src="/static/images/person/cycle.png" alt="Vélo"><input type="text" class="activity-input" id="input-cycle">Km</li>
      <li><img src="/static/images/person/swim.png" alt="Natation"><input type="text" class="activity-input" id="input-swim">Min</li>
    </ul>
  </div>
  <button class="submit-activity" id="submit-activity">&gt;</button>
  <div class="activity-data">
    <h2>Toute votre activité</h2>
    <div class="calendrier-wrapper">
      <table id="calendrier">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="activity-data">
      <ul>
        <li>Objectif Personnel <br> <strong>120000 Pas/J</strong></li>
        <li>Séquence <br> <strong>4 Jours</strong> </li>
        <li>Séquence Record <strong>4 Jours</strong></li>
      </ul>
    </div>
  </div>
</div>