<a name="aPropos" class="paddingFromNavBar"></a>
<div id="apropos">
	<div id="left">
		<div class="title">
			Centre des sports
		</div>
		<a href="http://sports.insa-lyon.fr/">Accéder au site du Centre des sports</a><br/>
		<img src="../static/images/logo.svg" alt="logo mouvinsa" class="logo" />
	</div>
	<div id="right">
		<div class="title">
			Responsable publication
		</div>
		<img src="../static/images/personnes/jean-paul.jpg" alt="Photo de Jean Paul ANCIAN" class="photo" />
		<br/>
		Jean Paul ANCIEN
		<br/>
		jean-paul.ancian@insa-lyon.fr
		<br/>
		<div id="infoJP">
			Préparateur physique de footballeurs de haut niveau (Ligue 1, Ligue 2, sélection nationale de Côte d'Ivoire...)
		</div>
	</div>
	<div id="bottom">
		<div class="title">
			Responsables techniques
		</div>
		<div class="person">
			<img src="../static/images/personnes/marco.jpg" alt="Photo de Marco MONTALTO" class="photo" />
			<br/>
			Marco MONTALTO
			<br/>
			<span class="email">marco.montalto@insa-lyon.fr</span>
		</div>
		<div class="person">
			<img src="../static/images/personnes/anthony.jpg" alt="Photo de Anthony FARAUT" class="photo" />
			<br/>
			Anthony FARAUT
			<br/>
			<span class="email">anthony.faraut@insa-lyon.fr</span>
		</div>
		<div class="person">
			<img src="../static/images/personnes/ludmila.jpg" alt="Photo de Ludmila DANILESCU" class="photo" />
			<br/>
			Ludmila DANILESCU
			<br/>
			<span class="email">ludmila.danilescu@insa-lyon.fr</span>
		</div>
		<div class="person">
			<img src="../static/images/personnes/bernardo.jpg" alt="Photo de Bernardo RITTMEYER" class="photo" />
			<br/>
			Bernardo RITTMEYER
			<br/>
			<span class="email">bernardo.rittmeyer@insa-lyon.fr</span>
		</div>
		<div class="person">
			<img src="../static/images/personnes/maria.jpg" alt="Photo de Maria ETEGAN" class="photo" />
			<br/>
			Maria ETEGAN
			<br/>
			<span class="email">maria.etegan@insa-lyon.fr</span>
		</div>
		<div class="person">
			<img src="../static/images/personnes/hoang-son.jpg" alt="Photo de Hoang Son NGUYEN" class="photo" />
			<br/>
			Hoang Son NGUYEN
			<br/>
			<span class="email">hoang.nguyen@insa-lyon.fr</span>
		</div>
		<div class="person">
			<img src="../static/images/personnes/vadim.jpg" alt="Photo de Vadim CAEN" class="photo" />
			<br/>
			Vadim CAEN
			<br/>
			<span class="email">vadim.caen@insa-lyon.fr</span>
		</div>
	</div>
</div>