

<link rel="stylesheet" href="D:/_Ecoles/_INSA/_4IF/Github/mouvinsa/app/mouvinsa/static/styles/style.css" type="text/css">

<div id="apropos">
	<div id="left">
		<a href="http://sports.insa-lyon.fr/">Centre des sports</a><br/>
		<img src="../static/images/logo.svg" alt="logo mouvinsa" class="logo" />
	</div>
	<div id="right">
		<br/>
		<img src="D:/jp.jpg" alt="Une photo de moi" class="photo" />
		<br/>
		Jean Paul ANCIEN
		<br/>
		jean-paul.ancian@insa-lyon.fr
		<br/>
		Jean Paul ANCIAN, préparateur physique de footballeurs de haut niveau (Ligue 1, Ligue 2, sélection nationale de Côte d'Ivoire...) 
	</div>
	<div id="bottom">
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Marco MONTALTO
			<br/>
			marco.montalto@insa-lyon.fr
			<br/>
			Etudiant 4ième année en Informatique
		</div>
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Anthony FARAUT
			<br/>
			anthony.faraut@insa-lyon.fr
			<br/>
			Etudiant 4ième année en Informatique
		</div>
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Ludmila DANILESCU
			<br/>
			ludmila.danilescu@insa-lyon.fr
			<br/>
			Etudiante 4ième année en Informatique
		</div>
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Bernardo RITTMEYER
			<br/>
			bernardo.rittmeyer@insa-lyon.fr
			<br/>
			Etudiant 4ième année en Informatique
		</div>
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Maria ETEGAN
			<br/>
			maria.etegan@insa-lyon.fr
			<br/>
			Etudiante 4ième année en Informatique
		</div>
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Hoang Son NGUYEN
			<br/>
			hoang.nguyen@insa-lyon.fr
			<br/>
			Etudiant 4ième année en Informatique
		</div>
		<div class="person">
			<img src="D:/moooi.jpg" alt="Une photo de moi" class="photo" />
			<br/>
			Vadim CAEN
			<br/>
			vadim.caen@insa-lyon.fr
			<br/>
			<br/>
			Etudiant 4ième année en Informatique
			<br/>
		</div>
	</div>
</div>