<a name="leJeu" class="paddingFromNavBar"></a>
<div class="containerDescription" id="descriptionProjet_text">
    
    <div class = 'paragraph'>
    	
    	<table>
		  <tr>
		    <td><div class='cercle' style='background:purple'> <div class='question'> Mouv'INSA ? </div> </div></td>
		    <td>
		    	<div class = 'paragraph'>
        		MouvINSA est un projet pédagogique transversal impliquant le département informatique, 7 élèves ingénieurs et le centre des sports. Ce projet est mis en oeuvre par l'INSA de Lyon et le Centre des sports.
        		</div>
        	</td>
		    
		  </tr>			  
		</table>       	
    	
    </div>

	<div class = 'paragraph'>
		
		<table>
		  <tr>
		    
		    <td>
		    	<div class = 'paragraph'>
        		
					Ce projet a  2 grands objectifs: de sensibiliser l'ensemble du personnel et des étudiants de l'INSA à l'activité physique et à la santé et de favoriser le lien social entre les différents personnels,  les différents services  et les différents départements de l'école.
	
        		</div>
        	</td>
        	<td><div class='cercle' style='background:blue'> <div class='question'> Pourquoi? </div> </div></td>
		    
		  </tr>			  
		</table>
	</div>   
		

	<div class = 'paragraph'>
		
		<table>
		  <tr>
		    <td><div class='cercle' style='background:yellow'> <div class='question'> Qui? </div> </div></td>
		    <td>
		    	<div class = 'paragraph'>
        		Tout le monde peut s'inscrire à partir de lundi 5 janvier 2015. Ensuite 48 équipes de 5 préinscrits seront constituées de façon aléatoire dans la semaine du lundi 26 janvier au vendredi 30 janvier 2015 avec au sein de chaque équipe un mélange des différentes catégories de personnel.
        		</div>
        	</td>
		    
		  </tr>			  
		</table>
		
	</div>

	<div class = 'paragraph'>
		
		<div class='important'> Bougez et comptez vos pas! </div>
		<table>
		  <tr>
		    
		    <td>
		    	<div class = 'paragraph'>
        		
					Chaque participant doit rentrer individuellement tous les soirs le nombre de pas journaliers effectués indiqués par le podomètre ce qui permettra ensuite de faire apparaître un nombre de pas cumulés par l'ensemble de l'équipe. Chaque équipe pourra ainsi visionner directement sur la plateforme MouvINSA des statistiques sur les nombres des pas effectués.
        		</div>
        	</td>
        	<td><div class='cercle' style='background:green;'> <div class='question'> Comment? </div> </div></td>
		    
		  </tr>			  
		</table>
		
	</div>
	<div class = 'paragraph'>
		
		<table>
		  <tr>
		    <td><div class='cercle' style='background:red'> <div class='question'> Et le start? </div> </div></td>
		    <td>
		    	<div class = 'paragraph'>
        			<p>Le mardi 3 février 2015 au gymnase C de l'INSA aura lieu  autour d'un moment convivial la rencontre des différents coéquipiers. Durant ce moment de rencontre le nom de chaque équipe pourra être modifié, des informations concernant le  déroulement du projet seront données ainsi que la distribution et les explications du fonctionnement des podomètres équipant chaque participant.</p>
					<p>Le départ commun  de l'ensemble des 48 équipes sera donné le Jeudi 26 février 2015 à 12h30 de l'INSA avec une arrivée fixée le Jeudi 7 mai 2015 à  12h30 à  l'INSA soit 10 semaines de participation.</p>
        		</div>
        	</td>
		    
		  </tr>			  
		</table>
		
	</div>	

</div>