<div id="decouvrir-projet">
    <a href="/apropos">
        <img src="{{ url_for('static',filename='images/Info.png') }}" width="33px" height="33px">
        À propos du projet
    </a>
</div>
<div id="link">
    <a href="http://sports.insa-lyon.fr/">Centre des sports</a><br/>
    <a href="http://envue.insa-lyon.fr/">Direction de la Communication</a>
</div>
<a href="http://insa-lyon.fr/" target="_blank">
    <img src="../static/images/logo-insa.png" alt="logo insa" class="logo"/>
</a>
<a href="http://mouvinsa.insa-lyon.fr/">
    <img src="../static/images/logo.svg" alt="logo mouvinsa" class="logo"/>
</a>
<div id="copyright">
    <br/>Copyright
    INSA Lyon ©
</div>