{% extends "layout.html" %}
{% block title %} Accueil {% endblock %}
{% block pageName %} Accueil {% endblock %}
{% block main %}
	<div id="main" class="main">
    	<img class="logo-main" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
    	<div class="your-clock"></div>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
	    blahblah<br/>
    </div>
{% endblock %}
