<script src="{{ url_for('static', filename='scripts/jquery.js')  }}"></script>
<script src="{{ url_for('static', filename="scripts/flipclock.js") }}"></script>
<script src="{{ url_for('static', filename='scripts/startMouvinsaCountdown.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='scripts/inscription/inscriptionFunctions.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='scripts/accueil/accueil.js') }}"></script>

<script type=text/javascript src="{{
  url_for('static', filename='scripts/reglages/reglagesFunctions.js') }}"></script>

<script type=text/javascript src="{{
  url_for('static', filename='scripts/jquery.transit.js') }}"></script>
