<div class="group-destination-bar-box">
  <h2>Prochaine Destination : <strong>{{group.city_destination.nom}}</strong></h2>
  <div class="destination-bar">
    <svg class="destination-bar-pin-end" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="90px" height="90px" viewBox="0 0 512 512" fill="#F44336" enable-background="new 0 0 512 512" xml:space="preserve">
      <path id="location-icon" d="M256,50c-72.072,0-130.5,58.427-130.5,130.5c0,72.073,57.114,155.833,130.5,281.5
        c73.388-125.666,130.5-209.427,130.5-281.5C386.5,108.427,328.074,50,256,50z M256,224.133c-25.848,0-46.801-20.953-46.801-46.8
        s20.953-46.8,46.801-46.8s46.801,20.953,46.801,46.8S281.848,224.133,256,224.133z"/>
    </svg>
    <div class="destination-bar-pin" style="left:
    {% if (group.distance / 1000 * 90.65 / group.city_destination.level.distance) < 90.65 %}
      {{ '%.2f' % (group.distance / 1000 * 90.65 / group.city_destination.level.distance) }}%">
    {% else %}
      90.65%">
    {% endif %}
      <span class="destination-counter">
        {{ '%.0f' % (group.distance / 1000 ) }} Km ({{ '{0:0.0f}'.format((group.distance / 1000 )/0.00064) }} Pas)
      </span>
      <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="90px" height="90px" viewBox="0 0 512 512" fill="#1286df" enable-background="new 0 0 512 512" xml:space="preserve">
        <path id="location-icon" d="M256,50c-72.072,0-130.5,58.427-130.5,130.5c0,72.073,57.114,155.833,130.5,281.5
          c73.388-125.666,130.5-209.427,130.5-281.5C386.5,108.427,328.074,50,256,50z M256,224.133c-25.848,0-46.801-20.953-46.801-46.8
          s20.953-46.8,46.801-46.8s46.801,20.953,46.801,46.8S281.848,224.133,256,224.133z"/>
      </svg>
    </div>
    <svg width="100%" height="10" fill="#333333" class="destination-bar-appendix">
      <rect id="distance-bar-rect" width="1500" height="7"/>
    </svg>
    <img src="/static/images/logo-insa.png" class="destination-bar-insa" alt="">
    <span class="destination-distance">
      {{ group.city_destination.level.distance }} Km ({{ '{0:0.0f}'.format(group.city_destination.level.distance/0.00064) }} Pas)
    </span>
  </div>
  <ul class="destination-list">
    <li>
      <svg width="140" height="140" class="svg-c" id="svg-c1" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cy="70" cx="70" r="68" class="bar" fill="transparent" stroke-dasharray="427"></circle>
      </svg>
      <strong>{{ '%.0f' % (group.distance / 10 / group.city_tres_facile.level.distance) }}<small>%</small></strong>
      <span>{{group.city_tres_facile.nom}}</span>
      </li>
    <li>
      <svg class="svg-c" id="svg-c2" width="140" height="140" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cy="70" cx="70" r="68" class="bar" fill="transparent" stroke-dasharray="427"></circle>
      </svg>
      <strong>{{ '%.0f' % (group.distance / 10 / group.city_facile.level.distance) }}<small>%</small></strong>
      <span>{{group.city_facile.nom}}</span>
      </li>
    <li>
      <svg class="svg-c" id="svg-c3" width="140" height="140" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cy="70" cx="70" r="68" class="bar" fill="transparent" stroke-dasharray="427"></circle>
      </svg>
      <strong>{{ '%.0f' % (group.distance / 10 / group.city_moyen.level.distance) }}<small>%</small></strong>
      <span>{{group.city_moyen.nom}}</span>
      </li>
    <li>
      <svg class="svg-c" id="svg-c4" width="140" height="140" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cy="70" cx="70" r="68" class="bar" fill="transparent" stroke-dasharray="427"></circle>
      </svg>
      <strong>{{ '%.0f' % (group.distance / 10 / group.city_difficile.level.distance) }}<small>%</small>
      </strong><span>{{group.city_difficile.nom}}</span>
      </li>
    <li>
      <svg class="svg-c" id="svg-c5" width="140" height="140" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cy="70" cx="70" r="68" class="bar" fill="transparent" stroke-dasharray="427"></circle>
      </svg>
      <strong>{{ '%.0f' % (group.distance / 10 / group.city_tres_difficile.level.distance) }}<small>%</small></strong>
      <span>{{group.city_tres_difficile.nom}}</span>
      </li>
    <li>
      <svg class="svg-c" id="svg-c6" width="140" height="140" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cy="70" cx="70" r="68" class="bar" fill="transparent" stroke-dasharray="427"></circle>
      </svg>
      <strong>{{ '%.0f' % (group.distance / 10 / group.city_champion.level.distance) }}<small>%</small></strong>
      <span>{{group.city_champion.nom}}</span>
      </li>
  </ul>
</div>