<div class="group-destination-bar-box">
  <h2>Prochaine Destination : <strong>{{group.city_destination.nom}}</strong></h2>
  <div class="destination-bar">
    <svg class="destination-bar-pin-end" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="90px" height="90px" viewBox="0 0 512 512" fill="#F44336" enable-background="new 0 0 512 512" xml:space="preserve">
      <path id="location-icon" d="M256,50c-72.072,0-130.5,58.427-130.5,130.5c0,72.073,57.114,155.833,130.5,281.5
        c73.388-125.666,130.5-209.427,130.5-281.5C386.5,108.427,328.074,50,256,50z M256,224.133c-25.848,0-46.801-20.953-46.801-46.8
        s20.953-46.8,46.801-46.8s46.801,20.953,46.801,46.8S281.848,224.133,256,224.133z"/>
    </svg>
    <div class="destination-bar-pin">
      <span class="destination-counter">
        360km
      </span>
      <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="90px" height="90px" viewBox="0 0 512 512" fill="#1286df" enable-background="new 0 0 512 512" xml:space="preserve">
        <path id="location-icon" d="M256,50c-72.072,0-130.5,58.427-130.5,130.5c0,72.073,57.114,155.833,130.5,281.5
          c73.388-125.666,130.5-209.427,130.5-281.5C386.5,108.427,328.074,50,256,50z M256,224.133c-25.848,0-46.801-20.953-46.801-46.8
          s20.953-46.8,46.801-46.8s46.801,20.953,46.801,46.8S281.848,224.133,256,224.133z"/>
      </svg>
    </div>
    <svg width="100%" height="10" fill="#333333" class="destination-bar-appendix">
      <rect id="distance-bar-rect" width="1500" height="7"/>
    </svg>
    <img src="/static/images/logo-insa.png" class="destination-bar-insa" alt="">
  </div>
  <ul class="destination-list">
    <li><strong>90<small>%</small></strong><span>Grenoble</span></li>
    <li><strong>35<small>%</small></strong><span>Banane</span></li>
    <li><strong>15<small>%</small></strong><span>Raisin</span></li>
    <li><strong>5<small>%</small></strong><span>Smoothie</span></li>
    <li><strong>1<small>%</small></strong><span>Chocolat</span></li>
    <li><strong>0,2<small>%</small></strong><span>Arancina</span></li>
  </ul>
</div>