{% extends "layout.html" %}
{% set title = group.label %}
{% block title %} {{ title }} {% endblock %}
{% block pageName %} {{ titile }} {% endblock %}
{% block positionPage %}
    {{ title }}
{% endblock %}
{%  block pageHeader %} {% include "group/header.html" %} {% endblock %}
{% block main %}
  <div class=" activity-main-gr">
    <div class="row-container">
        {% include "group/destination_bar.html" %}
    </div>
    <div class="row-container">
        {% include "group/members.html" %}
        {% include "group/infobox.html" %}
    </div>
  </div>

  <script src="{{ url_for('static', filename='scripts/personal.js') }}"></script>
    {% block optScript %}
        {{ super() }}
        <script src="{{ url_for('static', filename='scripts/group/infobox.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/blur.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/paralax.js') }}"></script>
    {% endblock %}
{% endblock %}