{% extends "layout.html" %}
{% block title %} {{ group.label }} {% endblock %}
{% block pageName %} {{ group.label }} {% endblock %}
{% block positionPage %}
    {{ group.label }}
{% endblock %}
{% block linksOtherPages %}
    {% if person=="none" %}
        {% include "accueil/main/navBarNotConnected.html" %}
    {% else %}
        {% include "group/navBar.html" %}
    {% endif %}
{% endblock %}
{% block main %}
    {% include "group/header.html" %}
  <div class="container activity-main">
    {% include "group/destination_bar.html" %}
    {% include "group/members.html" %}
    {% include "group/infobox.html" %}
    {% include "group/destination_list.html" %}
  </div>
{% endblock %}