<br/>
<form id="question-form" action="">
    Nous vous prions de bien vouloir acceder à <a href="http://www.onvabouger.fr/d-activites/testez-vous-en-ligne-sedentaire-actif.html" target="_blank">cette page</a> et d'effectuer le test. Nous vous remercions par avance de votre collaboration.<br><br>
    <input type="hidden" class="question-input" name="input-numeroQuestion" id="input-numeroQuestion" value="{{ jQuesSante }}">
    Valeur retournée
    <input type="text" class="question-input" name="input-value" id="input-value" >
    <br><br>
    <button class="submit-question" id="submit-question">Valider</button>
</form>