/* Activity Box */
.row-container {
  display: block;
  margin-bottom: 10px;
}

.row-elem {
  display: inline-block;
  vertical-align: top;
}


.members-box {
  /* position: relative; */
  width: 347px;
  height: 400px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  background: #fff;
  /* margin-top: -150px; */
  /* margin-bottom: 40px; */
  margin-right: 18px;
  display: inline-block;
}

.photo-box, .slideshow {
  /* display: inline-block; */
  /* position: relative; */
  width: 590px;
  height: 400px;
  /* border: none; */
  /* box-shadow: 0px 1px 3px rgba(0,0,0,0.3); */
 /* background:  url('../images/destinations/2_1.jpg');
  background-size: 590px 400px;
  background-repeat: no-repeat;*/
  /* margin-top: -440px; */
  /* margin-bottom: 40px; */
  /* margin-left: 370px; */
  overflow: hidden;
}

.membres {
  font-size: 21px;
  color: #fff;
  margin-left: 30px;
  border-bottom: none;
  padding-top: 7px;
  font-family: bebas_neue_bold,Helvetica,Arial;
  font-size: 26px;
}

.bar-members {
  position: relative;
  height: 40px;
  background: #E42618;
;
}

.photos {
  font-family: bebas_neue_bold, Helvetica, Arial;
  font-size: 26px;
  color: #fff;
  margin-left: 30px;
  border-bottom: none;
  line-height: 40px;
}

.bar-photos{
  position: relative;
  height: 40px;
  background: #E42618;
}


.person-avat-wrapper {
  margin-left:33px;
  display: block;
  position: relative;
  float: left;
  width: 70px;
  text-align: right;
}

.person-avat{
  border-radius: 100%;
  border: 4px solid #fff;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  width: 60px;
  height: 60px;
}

.person-nom-wrapper{
  margin-left: 100px;
  padding-top: 32px;

}


h1.person-nom {
  font-family: bebas_neue_bold, Helvetica, Arial;
  font-weight: bold;
  font-size:23px;
  color:#666;
  border:none;
  margin-top:-10px;
}

.team_pers {
  margin-top: 1px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.team_pers li {
  position: relative;
  display: block;
  height: 72px;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 300%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}
