
/* This is only for test, you can remove anything from here */
body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #ee2922; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
/* end of test */


body {
    width: 100%;
    /*background-image: url("../images/fitnessjog.jpg");*/
    overflow-x  : hidden;
    background: url("../images/fitnessjog.jpg") no-repeat center fixed; 
    -webkit-backgroundtbody-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisÃ©e */
}

header {
    height: 60px;
    width: 96%;
    background: #ee2922;
    color: #ffffff;
    line-height: 60px;
    padding:0 2%;
}

.main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width:642px;
    width: 100%;
}

.logo-main {
  max-width: 380px;
  margin: 0px auto 50px;
}

.error {
    border-radius: 2px;
    background-color: rgba(244, 244, 244, 0.99);
    box-shadow: #313333 5px 5px 5px;
    color: #ee2922;
}

#footer {
  padding: 10px;
  text-align: center;
  bottom: 0px;
  color: #FFF;
  position: absolute;
  background-color: #222222;
  width: 100%;
}

#footer .logo {
  height:25px;
  margin-right: 25px;
  margin-left: 25px;
}

#footer #link{
    text-align: right;
    display: inline-block;
    border-right : 3px solid white;
    padding-right : 25px;
    height: 35px;
}

#footer #copyright{
    text-align: left;
    display: inline-block;
    border-left : 3px solid white;
    padding-left : 25px;
    height: 35px;
}

#signin {
    background: white;
    opacity: 0.85;
    padding-bottom: 30px;
    text-align: left;
}

#signin .title {
    background: #ee2922;
    top :0px;
    color :white;
    padding : 10px;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 30px;
}

#signin .label {
    /*border : 1px solid black;*/
    margin-left:20%;
    display:block;
    width: 120px;
    float:left;
}

.button {
    background: #E42618;
    width: 15%;
    height: 40px;
    margin-top:25px;
    margin-left: 60%;
    color: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#signin .input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    width: 200px;
}

#signin .input:focus {
    border-bottom: 2px solid #E42618;
}