{% extends "layout.html" %}
{% set title = "Ma Page" %}
{% block pageName %} {{ title }}{% endblock %}
{% block positionPage %}
    ma page
{% endblock %}
{% block pageHeader %}{% include "person/main/header.html" %}{% endblock %}
{% block main %}
<input type="hidden" id="today" value="{{today}}">

  <div class="container activity-main">
    {% include "person/main/activity.html" %}
    {% include "person/main/distance_bar.html" %}
    {% include "person/main/graph.html" %}
  </div>
  <div class="overlay" style="{{ display }}"></div>
  <div class="modal" style="{{ display }}">
    <h2>{% block modalTitle %}Questionnaire - 1{% endblock %}</h2>
    {% block modalContent %}
        {% if jQuesSante != 0 %}
            {% include "person/formulaire_question/question.html" %}
        {% endif %}
    {% endblock %}
  </div>
{% endblock %}
{% block optScript %}
    {{ super() }}
  <script src="{{ url_for('static', filename='bower_components/chartist/dist/chartist.min.js') }}"></script>
  <script>
    var data = {
      labels: {{chartDates|safe}},
      series: [
        {{chartValues}},
        {{chartObjectifs}}
      ]
    };
    var objPerso = {{person.fitnessInfo.goal or "0"}};
  </script>
  <script src="{{ url_for('static', filename='scripts/personal.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/question.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/blur.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/paralax.js') }}"></script>
{% endblock %}