{% extends "layout.html" %}
{% block title %} Ma Page {% endblock %}
{% block pageName %} Ma Page {% endblock %}
{% block positionPage %}
    mouv’insa - ma page
{% endblock %}
{% block linksOtherPages %}
    {% include "person/main/navBar.html" %}
{% endblock %}
{% block main %}
    {% include "person/main/header.html" %}
  <div class="container activity-main">
    {% include "person/main/activity.html" %}
    {% include "person/main/distance_bar.html" %}
    {% include "person/main/graph.html" %}
  </div>
{% endblock %}