{% extends "layout.html" %}
{% block title %} Ma Page {% endblock %}
{% block pageName %} Ma Page {% endblock %}
{% block positionPage %}
    ma page
{% endblock %}
{% block main %}
    {% include "person/main/header.html" %}
  <div class="container activity-main">
    {% include "person/main/activity.html" %}
    {% include "person/main/distance_bar.html" %}
    {% include "person/main/graph.html" %}
  </div>
{% endblock %}

{% block optScript %}
  <script src="{{ url_for('static', filename='bower_components/chartist/dist/chartist.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/personal.js') }}"></script>
{% endblock %}