#formProfil input[type='text'], #formProfil select {
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    outline-color: #E42618;
    width:70%;
}

input[type="submit"] {
    border-bottom: solid 2px black;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

input[type="button"]{
    border:none;
    outline:none;
}
#confirmationContent{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
    position: relative;
}

.description_block{
    position: relative;
    margin: 5% 5% 25% 5%;
    text-align: justify;
}
.title_confirmation_block{
    color: white;
    background: #E42618;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
.next_button, .submit_button, .prev_button{
    position: absolute;
    cursor:pointer;
    background: #E42618;
    line-height: 40px;
    color: white;
    text-align:center;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding: 0% 1% 0% 1%;
    border-bottom: solid 2px black;
}
.prev_button{
    left: 5%;
    bottom: 5%;
}
.next_button{
    right: 5%;
    bottom: 5%;
}
#btn_enregistrer, #btn_envoyer{
    left: 45%;
    bottom: 5%;
}
#btn_deposer{
    margin-top: 2%;
}
#btn_choisir{
    border:none;
    cursor:pointer;
    background: #E42618;
    color: white;
    line-height: 30px;
    text-align:center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 0% 1% 0% 1%;
}
#imgFileName{
    text-align: center;
}
#divPhotoDescription{
    position: absolute;
    margin-left:40%;
}
.next_button:hover, .submit_button:hover, .prev_button:hover{
  text-decoration: none;
  color:white
}
#tab_title_confirmation li{
    text-align:center;
}
#tab_title_confirmation li a{
    cursor:pointer;
    background: transparent;
}
#tab_title_confirmation li a:hover{
    border: 1px solid #E42618;
    color: white;
    font-weight:bold;
    background: #E42618;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#tab_title_confirmation li.active, #tab_title_confirmation li.active:hover{
    background: #E42618;
}
#tab_title_confirmation li.active a{
    cursor:default;
    color:white;
    font-weight:bold;
    border:1px solid #E42618;
}
.elementForm_DIV{
    margin-bottom: 10%;
}
.confirmationField_ERRORS{
    width:75%;
    margin-left: -13%;
}
.photoField_ERRORS, .photoField_MESSAGE{
    width:75%;
    margin-left: -25%;
}
.confirmationField_MESSAGE li{
    text-align: center;
    width: 100%;
    list-style-type:none;
    margin:auto;
}

.photoField_MESSAGE li{
    list-style-type:square;
}

.leftElements_DIV {
    border:none;
    position: relative;
    float:left;
    width: 40%;
    height: 90%;
    margin-bottom: 10%;
    margin-top: 2%;
}

.rightElements_DIV {
    border: none;
    position: relative;
    float:right;
    width: 40%;
    height: 90%;
    margin-bottom: 10%;
    margin-top: 2%;
}

#divPhotoPreview img {
    width:30%;
    border:2px solid gray;
    margin-left:35%;
}

#divPhotoPreview img:hover{
    cursor: pointer;
}
