html, body {
	font-family: Helvetica, Arial, sans-serif;

	/* Location of the image */
    background-image: url("../../images/fitnessjog.jpg");  
  	
  	/* Background image is centered vertically and horizontally at all times */
  	background-position: top left;
  
  	/* Background image doesn't tile */
  	background-repeat: no-repeat;
  
  	/* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  	background-attachment: fixed;
  
  	/* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
  
  	/* Set a background color that will be displayed
     while the background image is loading */
  	background-color: #464646;

  	margin:0;
  	padding-top: 20px;
  	height: 100%;
  	width: 100%;
}

.trasparentContainer_DIV {
	background: white;
	opacity: 0.85;
}

#presentation_DIV {
    position: relative;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 4%;
    padding-right: 4%;
    height: 40%;
    overflow: hidden;
  }

#inscrivezVousHeader_DIV {
    position: relative;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    height: 40px;
    overflow: visible;
    background: #E42618;
	  color: white;
	  text-indent: 20px;
}

#inscrivezVousHeader_SPAN {
    position: relative;
    top: 32%;
    padding-left: 8%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#triangle_DIV {
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #ffffff;
	-webkit-transform-origin: bottom right;
	transform-origin: 50% 25%;

	/* ANIMATION */
	-webkit-transition: 0.5s all;
	-firefox-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.triangle_DIV_begin {
	top : 10%;
	margin-left: 4%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.triangle_DIV_rotated {
	margin-left: 5%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#inscrivezVousContent_DIV {
	  position: relative;
    margin-left: 20%;
    margin-right: 20%;
    /*height: 40%;*/
    overflow: hidden;
    /*display: none;  /!\ Il faut le decommenter*/
}
/*
.inscriptionField_LABEL, .inscriptionField_INPUT {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inscriptionField_LABEL + .inscriptionField_INPUT {
    width: 30%;
    margin: 0 30% 0 4%;
}

.inscriptionField_INPUT + .inscriptionField_INPUT {
    float: right;
}*/

.inscriptionField_LABEL {
    position: relative;
    width: 25%;
    float: left;
}

.inscriptionField_INPUT {
    position: relative;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 60%;
    float: right;
    bottom: 0;
}

.inscriptionField_INPUT:focus {
    border-bottom: 2px solid #E42618;
}

.inscriptionValidate_BUTTON {
    position: relative;
    background: #E42618;
    width: 15%;
    height: 40px;
    margin-bottom: 2%;
    margin-left: 80%;
    color: white;
    font-size: 90%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.elementForm_DIV {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 2% 0 0 4%;
}

.inscriptionField_SELECT {
    position: relative;
    float: right;
    bottom: 0;
    width: 60%;
    /*border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;*/
}

.leftElements_DIV {
    position: relative;
    float:left;
    width: 49%;
    height: 90%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.rightElements_DIV {
    position: relative;
    float:right;
    width: 49%;
    height: 90%;
    margin-bottom: 1%;
    margin-top: 2%;
}

