html, body {
	font-family: Helvetica, Arial, sans-serif;

  	margin:0;
    padding-bottom: 0;
}

.PageSection_DIV {
    position: relative;
    margin-top: -30px;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    height: 600px;
}

#descriptionProjectDIV {
     position: relative;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    display: none;
  }

#descriptionProjetHeader_DIV {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    height: 40px;
    overflow: visible;
    background: #E42618;
    color: white;
    text-indent: 5px;
    cursor:  pointer;
}

.trasparentContainer_DIV {
	background-color: rgba(244, 244, 244, 0.85);
}

#inscrivezVousHeader_DIV {
    position: relative;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    height: 40px;
    overflow: visible;
    background: #E42618;
	  color: white;
	  text-indent: 20px;
    cursor:  pointer;
}

#descriptionProjetHeader_SPAN{
    position: relative;
    top: 12px;
    padding-left: 10%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    font-weight: bold;
}

#inscrivezVousHeader_SPAN {
    position: relative;
    top: 12px;
    padding-left: 8%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    font-weight: bold;
}

#triangleForm_DIV {
    position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #ffffff;
	-webkit-transform-origin: bottom right;
	transform-origin: 50% 25%;
    cursor:  pointer;

	/* ANIMATION */
	-webkit-transition: 0.5s all;
	-firefox-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}
#triangle_DIV {
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #ffffff;
	-webkit-transform-origin: bottom right;
	transform-origin: 50% 25%;
    cursor:  pointer;

	/* ANIMATION */
	-webkit-transition: 0.5s all;
	-firefox-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.triangle_DIV_begin {
	top : 10%;
	margin-left: 4%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.triangle_DIV_rotated {
	margin-left: 5%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#inscrivezVousContent_DIV {
	  position: relative;
    margin-left: 20%;
    margin-right: 20%;
    /*height: 40%;*/
    overflow: hidden;
    /*display: none; /!\ Il faut le decommenter*/
}

.validation_DIV {
    position: relative;
    top: -20px;
    border: solid 2px saddlebrown;
    background-color: navajowhite;
    z-index: 1;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    height: 30px;
    overflow: visible;
    color: black;
    text-indent: 5px;
    text-align: center;
    border-radius: 25px;

}

#inscriptionMessage_SPAN {
    display: inline-block;
    position: relative;
}

.inscriptionField_LABEL {

    display: block;
	width: 40%;
	float: left;
}

.inscriptionField_INPUT {
    position: relative;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 60%;
    float: right;
    bottom: 0;
}

.inscriptionField_INPUT:focus {
    border-bottom: 2px solid #E42618;
}

input#inscriptionValidate_BUTTON {
    position: relative !important;
    background: #E42618 !important;
    width: 100px !important;
    height: 40px !important;
    margin-bottom: 4% !important;
    float: none !important;
    color: white;
    font-size: 90%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.elementForm_DIV {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 2% 0 0 4%;
}


.inscriptionField_SELECT {

    position: relative;
    width: 40%;
    vertical-align: top;
    margin-right: 7%;
}


fieldset {
    position: relative;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 6%;
    width: 85%;
    height: 90%;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
    font-size: 17px;
  font-variant: small-caps;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

p{
    margin-left: 6%;
    margin-right: 6%;
    text-align: justify;
}

li{
    margin-left: 7%;
    font-weight: normal;
    font-style: normal;
    color: #f00;
}

#positionDIV {
    display: none;

}

#affiliationDIV {
    display: none;
}

#validateButton_DIV {
    position: relative;
    text-align : center;
}


@media (max-width: 480px) {
    #formInscription input {
        width: 90%;
    }

    #formInscription select {
        width: 90%;
        background-color: transparent;
    }
}

@media (min-width: 471px) {
    #formInscription input {
        width: 45%;
        float: right;
    }

    #formInscription select {
        width: 45%;
        float: right;
    }
}

#formInscription input {
    border-bottom: solid 2px black;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    outline-color: #E42618;
}

#formInscription input:focus {
    border-bottom: solid 2px #E42618;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
}

#formInscription select {
    background-color: transparent;
    outline-color: #E42618;
}

.errors{
    font-size: 19px;
}

.logo_DIV {
    text-align: center;
}