<body bgcolor="#FCFCFC" style="font-size: 15px">
    <p style="font-size: 12px"><i>(Vous avez reçu ce mail parce que vous vous êtes inscrit sur la plateforme Mouv'INSA. Si cela n'est pas le cas, merci de nous le signaler en répondant tout simplement à cette adresse mail. Très cordialement, l'admin)</i></p><br>
    <a href="http://mouvinsa.insa-lyon.fr"><img src="http://mouvinsa.insa-lyon.fr/static/images/logo-contours.png" style="width:200px; height:40px" align="middle"></a>
    <br>
    <p>Bonjour <b>{{ surnom }}</b>!</p>

    <p>La Conférence sur la Santé et le Lien Social se déroulera le mardi 31 Mars de 12h00 à 14h00, à l’amphithéâtre Gaston BERGER.</p>

    <p>Trois temps fort vous sont proposés :</p>

    <ul>
        <li>Intervention de Julien ALDEGUER, Kinésithérapeute, Ostéopathe et Préparateur Physique, sur le thème de la Santé.</li>
        <li>Intervention de Jean-Philippe NEUVILLE, Sociologue, sur le thème du Lien Social.</li>
        <li>Un moment convivial clôturera cet évènement.</li>
    </ul>

    <p><b>Venez nombreux!!!</b></p>

    <p><i>Le Collectif Mouv'Insa</i></p>
    <p><i>http://mouvinsa.insa-lyon.fr</i></p>
    <p style="font-size: 14px; color:red;">Pour toute suggestion, ou signalisation de bug, n'hesitez pas à nous le signaler en répondant à ce mail. Merci beaucoup!<br>L'admin.</p>
</body>