<body bgcolor="#FCFCFC" style="font-size: 15px">
    <p style="font-size: 12px"><i>(Vous avez reçu ce mail parce que vous vous êtes inscrit sur la plateforme Mouv'INSA. Si cela n'est pas le cas, merci de nous le signaler en répondant tout simplement à cette adresse mail. Très cordialement, l'admin)</i></p><br>
    <img src="http://mouvinsa.insa-lyon.fr/static/images/logo-contours.png" style="width:200px; height:40px" align="middle">
    <br>
    <p>Bonjour <b>{{ surnom }}</b>!</p>
    <p>Suite aux désistements de certains inscrits, petites modifications ont été faites.</p>
    <p>Vous faites partie de l'équipe numéro <b>{{ numeroGroupe }}</b>, qui s'appelle <b>{{ nomGroupe }}</b>.</p>

    <p>Pour ceux qui ne sont pas encore en possession de leur podomètre, reinsegnez vous auprès de vos collègues d'équipe (qui l'ont probablement récuperé pour vous) ou adressez vous au centre des sports de l'INSA (M. Jean-Paul Pelegrin).</p>

    <p>Le projet demarrera le jeudi 26 février. Cela signifie qu'à partir de cette date, vous pourrez vous connecter sur la platteforme, consulter votre profil, changer vos données et, surtout, RENTRER VOS PAS!!</p>

    <p><b>Etes vous prets à marcher? Rendez-vous le Jeudi 26 Février, à 12h30 devant le bâtiment de l'administration de l'Insa pour un départ collectif!</b></p>

    <p><b>Voici les nouvelles compositions des groupes : </b></p>

    <b>Groupe 1: Jumperzap</b><br>
    <table>
       <tr>
          <td><i>thalia.darnanville@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>quentin.lemaire@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>renaud.rinaldi@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>vincent.ollivier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jingmin.guan@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 2: Highjumps</b><br>
    <table>
       <tr>
          <td><i>matthieu.royet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>maria.etegan@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>christophe.le-bourlot@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>apolline.pibarot@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>modou.cisse@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 3: Batsqueak</b><br>
    <table>
       <tr>
          <td><i>chantal.michel@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>bernardo.rittmeyer@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>xavier.kleber@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>maelle.seigle@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>anthony.faraut@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 4: Athletebrring</b><br>
    <table>
       <tr>
          <td><i>vadim.caen@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marie.rousseau@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>zeina.hamam@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>soline.gautier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>mathieu.fabre@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 5: Sportouch</b><br>
    <table>
       <tr>
          <td><i>marco.montalto@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>carine.bruscella@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>youssef.amghar@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>okba.khenissi@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>camille.delheure@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 6: Casimir</b><br>
    <table>
       <tr>
          <td><i>beatrice.marchand@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>hamza.aoutil@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>clara.touzard@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>evodie.edouard@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>alice.ducrot@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 7: Frisbeeplonk</b><br>
    <table>
       <tr>
          <td><i>corinne.payen@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>ludmila.danilescu@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>damien.fabregue@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>sami.debbache@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>thomas.viola@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 8: Skateroar</b><br>
    <table>
       <tr>
          <td><i>evelyne.parra@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>margaux.pourret@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>fabien.mandorlo@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>michael.barbier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>quentin.rouby@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 9: Tiecheep</b><br>
    <table>
       <tr>
          <td><i>francoise.leboutet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>maria.baboulall@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>chantal.berdier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>quentin.wolffhugel@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>charlelie.sellez@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 10: Les braves souliers</b><br>
    <table>
       <tr>
          <td><i>sophie.de-oliveira@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>mathieu.thoretton@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>lorraine.trilling@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marjolaine.dudouit@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>andrea.pirrotta@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 11: Volleytweet</b><br>
    <table>
       <tr>
          <td><i>nathalie.jarno@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nora.diouri@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>corinne.subai@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>arthur.faure@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>antton.tardio@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 12: Gearmeow</b><br>
    <table>
       <tr>
          <td><i>marie-christine.faye@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>quentin.dupont@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>laura.paget@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>elie.bretin@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>laurent.turpin@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 13: Outslouch</b><br>
    <table>
       <tr>
          <td><i>frida.tidadini@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>raphael.chassagnoux@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>liviu.militaru@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>manon.monfort@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>christian.reichert@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 14: Hockeytwang</b><br>
    <table>
       <tr>
          <td><i>thierry.barioz@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>tongjia.liu@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>pascale.stephan@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>camille.spigolis@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>sandrine.richard-molard@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 15: Crazy Walkers</b><br>
    <table>
       <tr>
          <td><i>annick.cortay@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>patrizia.peller@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>Mathieu.Maranzana@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>emilie.baroux@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>tarkan.gezer@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 16: Uniformfizz</b><br>
    <table>
       <tr>
          <td><i>marie.dandrea@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jean-paul.lubamba-tshibwabwa-nzuzi@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nadine.noel@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>julie.ferret@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>suzanne.cawston@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 17: Tartiflette</b><br>
    <table>
       <tr>
          <td><i>joelle.jaillet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>pierrick.merino@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>thomas.monnier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>mathieu.hamon@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>farshid.dabaghi@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 18: Un pas après l'autre</b><br>
    <table>
       <tr>
          <td><i>odile.richaud@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jean-baptiste.boni@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>thierry.moyaux@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>quentin.bapaume@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>mader@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 19: Freethrowrip</b><br>
    <table>
       <tr>
          <td><i>guillemette.trognot@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>antonin.fauret@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>Marian.Scuturici@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>christophe.berthier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jules.saada@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 20: Coureurs Galactiques</b><br>
    <table>
       <tr>
          <td><i>christian.loyalle@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>sebastian.sandu@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>sandrine.gonnet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>chloe.vercruysse@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marie-pierre.noutary@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 21: Championouch</b><br>
    <table>
       <tr>
          <td><i>raymond.cortes@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jacobo.levy-abitbol@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marine.minier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marguerite.duboz@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>patrick.fagan@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 22: Hockeyhoot</b><br>
    <table>
       <tr>
          <td><i>laurentiu.capatina@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>patricia.guilliot@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>olivier.merchiers@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nadia.bensenouci@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>laurie.sordillon@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 23: Athlos</b><br>
    <table>
       <tr>
          <td><i>sadok.gharib@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>thomas.losbar@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>irini.djeran-maigre@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>elodie.perez@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>valentin.renault@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 24: Les globes marcheurs</b><br>
    <table>
       <tr>
          <td><i>anna.loehr@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>julien.courbis@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>frederique.biennier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jeannette.buzzoni@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>alix.lopez@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 25: Bowlingbelch</b><br>
    <table>
       <tr>
          <td><i>armelle.vidal@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>camille.fayand@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>didier.remond@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>dominique.dumas@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>andrea.accardo@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 26: Tortues Galopantes</b><br>
    <table>
       <tr>
          <td><i>francoise.georges@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>yann.gripay@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marie.skopeckova@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>pietro.li-volsi@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jeanine.rezza@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 27: Surferfizz</b><br>
    <table>
       <tr>
          <td><i>mathieu.bouyer@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>emilie.pichot@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nicole.goetgheluck@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>corinne.dayeyan@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>titouan.thibaud@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 28: Batbeep</b><br>
    <table>
       <tr>
          <td><i>pascale.canivet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>emilie.robert@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>wilfrid.marquis-favre@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nathalie.follet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>quentin.gardavaud@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 29: Biathlonboom</b><br>
    <table>
       <tr>
          <td><i>marie-paule.voita@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>Bassma.alhamany@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>claude.guedat@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nathalie.bouscharain@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>tianyi.yang@insa-Lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 30: Battingbuzz</b><br>
    <table>
       <tr>
          <td><i>dalila.boudia@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>hoang.nguyen@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>david.audigier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>eliane.roupie@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>karim.benhmida@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 31: Cyclingcuckoo</b><br>
    <table>
       <tr>
          <td><i>anne-marie.clement@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>esther.cagnin@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>francoise.sandoz-guermond@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>tiphaine.lheritier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jad.oueis@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 32: Dartdingdong</b><br>
    <table>
       <tr>
          <td><i>sandrine.forichon@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>mireia.miralles-i-castaldi@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>laurent.pietrac@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>audrey.papin@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nicole.vially@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 33: Divedrip</b><br>
    <table>
       <tr>
          <td><i>francoise.chesa@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>lara.casiez@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>pierre.salgas@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>aigline.pahin-de-mostuejouls@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>elise.chane@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 34: Fitnessfizzle</b><br>
    <table>
       <tr>
          <td><i>mallory.felix@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>francois.robion@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>frederic.arnaud@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>tanguy.roux@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>michelle.seignol@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 35: Footballfizz</b><br>
    <table>
       <tr>
          <td><i>Cindy.caccavale-ojeda@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marie-pierre.favre@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>philippe.vergne@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>maud.breyne@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>cyril.fayard@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 36: Boxingboom</b><br>
    <table>
       <tr>
          <td><i>pascal.chiu@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>denis.chaise@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>julie.coussy@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>france.rebouillat@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>julien.chambonnier@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 37: Movementbuzz</b><br>
    <table>
       <tr>
          <td><i>guillaume.marie@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>raynald.richard@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>celine.robardet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>emilie.oustric@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>martine.paris@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 38: Waterskiwoof</b><br>
    <table>
       <tr>
          <td><i>marc.aubry@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>isabelle.naveau@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>samuela.leoni@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>ophelia.rey@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>chloe.lecheminant@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 39: Sol y amigos</b><br>
    <table>
       <tr>
          <td><i>lara.chevallier@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>emilie.chaume@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jean-baptiste.aubin@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>alban.martinez-delcayrou@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>laura.oxley@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 40: Crazy Legs</b><br>
    <table>
       <tr>
          <td><i>serge.kingue@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>marie-madeleine.deguin@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>jeannie.jouffroy@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>camille.godet@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>berengere.guichon@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 41: Catchmurmer</b><br>
    <table>
       <tr>
          <td><i>matthieu.rollain@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>nathaly.berthillon@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>philippe.lejeune@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>julie.cheng@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>florie.dessalle@insa-lyon.fr</i></td>
       </tr>
    </table>
    <br><br> <b>Groupe 42: Crazy Steps</b><br>
    <table>
       <tr>
          <td><i>julien.bara@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>mahdi.dif@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>ana.oprisor@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>arnaud.sandel@insa-lyon.fr</i></td>
       </tr>
       <tr>
          <td><i>kevin.pitolin@insa-lyon.fr</i></td>
       </tr>
    </table>

    <br><p><i>Cordialement, L'équipe Mouv'INSA</i></p>

    <p style="font-size: 14px; color:red;">Pour toute suggestion, ou signalisation de bug, n'hesitez pas à nous le signaler en répondant à ce mail. Merci beaucoup!<br>L'admin.</p>
</body>