<body bgcolor="#FCFCFC" style="font-size: 15px">
    <p style="font-size: 12px"><i>(Vous avez reçu ce mail parce que vous vous êtes inscrit sur la plateforme Mouv'INSA. Si cela n'est pas le cas, merci de nous le signaler en répondant tout simplement à cette adresse mail. Très cordialement, l'admin)</i></p><br>
    <a href="http://mouvinsa.insa-lyon.fr"><img src="http://mouvinsa.insa-lyon.fr/static/images/logo-contours.png" style="width:200px; height:40px" align="middle"></a>
    <br>
    <p>Bonjour <b>{{ surnom }}</b>!</p>
    <p>Nous avons le plaisir de vous confirmer votre demande de changement de mot de passe sur notre plateforme.</p>
    <p>Votre mot de passe temporaire est : {{ nouveau_mot_de_passe }}</p>
    <p>Nous vous prions de le modifier dans la page <b>Reglages</b> dans les plus brefs délais, afin d'avoir une sécurité optimale.</p>
    <br>
    <p><i>Cordialement, L'équipe Mouv'INSA</i></p>
    <p>http://mouvinsa.insa-lyon.fr</p>
    <p style="font-size: 14px; color:red;">Pour toute suggestion, ou signalisation de bug, n'hesitez pas à nous contacter en répondant à ce mail. Merci beaucoup!<br>L'admin.</p>
</body>