<body bgcolor="#FCFCFC" style="font-size: 15px">
    <p style="font-size: 12px"><i>(Vous avez reçu ce mail parce que vous vous êtes inscrit sur la plateforme Mouv'INSA. Si cela n'est pas le cas, merci de nous le signaler en répondant tout simplement à cette adresse mail. Très cordialement, l'admin)</i></p><br>
    <a href="http://mouvinsa.insa-lyon.fr"><img src="http://localhost:8080/static/images/logo-contours.png" style="width:200px; height:40px" align="middle"></a>
    <br>
    <p>Bonjour <b>{{ surnom }}</b>!</p>

    <p>L’expérience Mouv’INSA touche à sa fin après dix semaines d’activité!</p>
    <p>Pour bien fêter l’événement, vous êtes invités au pot d'arrivée qui aura lieu au <b>Gymnase C (bâtiment piscine) le Jeudi 7 Mai de 12h15 à 13h45.</b></p>

    <p>Ca sera l’opportunité de partager votre expérience avec le groupe ou simplement de vous détendre dans un climat convivial.
        Vos retours seront précieux pour notre équipe!</p>

    <p>Afin de pouvoir organiser au mieux le pot veuillez vous identifier sur le doodle suivant :
        <br><br><t><a href="http://doodle.com/5iwa9mtz8cd2dnnr"> http://doodle.com/5iwa9mtz8cd2dnnr </a></t></p>

<p>Veuillez remplir le doodle, que vous participiez ou non à l'événement, cela éviterait le gaspillage qu'il y a pu avoir lors du buffet organisé à l'issue de la Conférence sur la Santé et le lien social.</p>
<p>Merci pour votre participation!</p>

    <p><i>Le Collectif Mouv'Insa</i></p>
    <p><i>http://mouvinsa.insa-lyon.fr</i></p>
    <p style="font-size: 14px; color:red;">Pour toute suggestion, ou signalisation de bug, n'hesitez pas à nous le signaler en répondant à ce mail. Merci beaucoup!<br>L'admin.</p>
</body>