<body bgcolor="#FCFCFC" style="font-size: 15px">
    <p style="font-size: 12px"><i>(Vous avez reçu ce mail parce que vous vous êtes inscrit sur la plateforme Mouv'INSA. Si cela n'est pas le cas, merci de nous le signaler en répondant tout simplement à cette adresse mail. Très cordialement, l'admin)</i></p><br>
    <img src="http://mouvinsa.insa-lyon.fr/static/images/logo-contours.png" style="width:200px; height:40px" align="middle">
    <br>

    <p>Félicitations <b>{{ surnom }}</b>!</p>
    <p>Nous avons le plaisir de vous confirmer que votre candidature a été <b>retenue</b> dans le cadre de votre participation au projet <i><b>Mouv'INSA</b></i>. Maintenant, venez à la rencontre avec vos équipiers le <b>mardi 3 février 2015 à 12H15 au gymnase C</b> de l'INSA.</p>
    <p>Nous nous retrouverons autour d'une galette des rois, ce qui permettra de favoriser ces rencontres. A l'issue de ce temps fort différentes explications concernant le projet vous serons données ainsi que la remise de vos podomètres respectifs que vous devrez utiliser durant les 10 semaines du projet.</p>
    <p>En attendant de vous voir le mardi 3 février à 12h15, recevez nos sincères salutations.</p>

    <p><i>Cordialement, L'équipe Mouv'INSA</i></p>

    <p style="font-size: 14px; color:red;">Pour toute suggestion, ou signalisation de bug, n'hesitez pas à nous contacter en répondant à ce mail. Merci beaucoup!<br>L'admin.</p>
</body>