
{% extends "layout.html" %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block main %}
    
    <div id="signin">
        <div class="title">
            Login
        </div>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('login') }}" method="post">
            <label class="label" for="username">Username</label>
            <input type="text" name="username" class="input">
            <br/>
            <label class="label" for="password">Password</label>
            <input type="password" name="password" class="input">
            <input type="submit" value="Login" class="button">
        </form>
        <a href="{{ url_for('forgetpassword') }}" id="link">Mot de passe oublié</a>
    </div>
{% endblock %}