{% extends "layout.html" %}
{% set title = 'Login' %}
{% block header %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/inscription/inscription_style.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block pageHeader %}
    <header class="login"></header>
{% endblock %}

{% block main %}
    {{ super() }}
    <div id="backgroundSignin">
        {% with validation = get_flashed_messages() %}
          {% if validation %}
            <div class="validation_DIV">
            {% for message in validation %}
              <span id="inscriptionMessage_SPAN">{{ message }}</span>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div id="signin">
            <div class="title">
                Connexion
            </div>
            {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
            <form action="{{ url_for('login') }}" method="post">
                <label class="label" for="email">Email</label>
                <input type="text" name="email" class="input">@insa-lyon.fr
                <br/>
                <label class="label" for="password">Mot de passe</label>
                <input type="password" name="password" class="input">
                <br/>
                <a href="{{ url_for('forgetpassword') }}" id="link">Mot de passe oublié</a>
                <input type="submit" value="Login" class="button">
            </form>

        </div>
    </div>

{% endblock %}
{%  block footer %}
 {% include 'apropos.html' %}
{{ super() }}
{% endblock %}
{% block optScript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/blur.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/paralax.js') }}"></script>
{% endblock %}