<span class="category_span">
    Paramètres du compte
</span>
<div class="horizontal-line"></div>
<table class="table-setting">
    {% set cat = person.category %}
    <tr>
        <td class="td_label">Categorie </td>
        <td class="td_content">
            {% if cat =="enseignant" %}
                enseignant-chercheur
            {% else %}
                {{ cat }}
            {% endif %}
        </td>
        <td class="td_button"></td>
    </tr>
    <tr>
        <td class="td_label">Surnom </td>
        <td class="td_content">
            {{ person.nickname }}
        </td>
        <td class="td_button"></td>
    </tr>
    <tr>
        <td class="td_label">Email </td>
        <td class="td_content">
            {{ person.email }}
        </td>
        <td class="td_button"></td>
    </tr>
    <tr>
        <td class="td_label">{{ form.password.label }} </td>
        <td class="td_content">
             <span id="password_span" class="span-visible">
                 ****
             </span>
            {{ form.password() }}
        </td>
        <td class="td_button">
            <button id="password_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="password_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="password_button" type="button">
                <img src="{{ url_for('static', filename='images/edit-icon-red.png') }}">
            </button>
        </td>
    </tr>
    <tr>
        <td class="td_label"> {{ form.image.label }} </td>
        <td class="td_content">
             <span id="prenom_span" class="span-visible">
                {{ form.image(accept="image/*") }}
             </span>
        </td>
        <td class="td_button"><button id="prenom_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
    </tr>
    <tr>
        <td class="td_label">Prénom </td>
        <td class="td_content">
             <span id="prenom_span" class="span-visible">
                {{ person.firstname }}
             </span>
        </td>
        <td class="td_button">
            <button id="prenom_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="prenom_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="prenom_button" type="button">
                <img src="{{ url_for('static', filename='images/edit-icon-red.png') }}">
            </button>
        </td>
    </tr>
    <tr>
        <td class="td_label">Nom </td>
        <td class="td_content">
             <span id="nom_span" class="span-visible">
                {{ person.lastname }}
             </span>
        </td>
        <td class="td_button">
            <button id="nom_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="nom_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="nom_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
    </tr>
    <tr>
        <td class="td_label">{{ form.birthdate.label }} </td>
        <td class="td_content">
            <span id="date_span" class="span-visible">
                {% if person.birthdate is not none %}
                    {{ person.birthdate.strftime('%d/%m/%Y') }}
                {% endif %}
            </span>
            {{ form.birthdate() }}
        </td>
        <td class="td_button">
            <button id="date_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="date_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="birthdate_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
    </tr>
    <tr>
        <td class="td_label">{{ form.sex.label }} </td>
        <td class="td_content">
            <span id="sex_span" class="span-visible">
                {{ person.sex }}
            </span>
            {{ form.sex() }}
        </td>
        <td class="td_button">
            <button id="sex_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="sex_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="sex_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
    </tr>
    <tr>
        <td class="td_label">{{ form.weight.label }} </td>
        <td class="td_content">
            <span id="weight_span" class="span-visible">
                {{ person.weight }}
            </span>
            {{ form.weight() }}
        </td>
        <td class="td_button">
            <button id="weight_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="weight_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="weight_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
    </tr>
    <tr>
        <td class="td_label">{{ form.height.label }} </td>
        <td class="td_content">
            <span id="height_span" class="span-visible">
                {{ person.height }}
            </span>
            {{ form.height() }}
        </td>
        <td class="td_button">
            <button id="height_cancel_button" class="annuler_valider_button invisible_button" type="button">
                Annuller
            </button>
            <button id="height_validate_button" class="annuler_valider_button invisible_button" type="button">
                Valider
            </button>
            <button id="height_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
    </tr>
    {% if cat =="enseignant" or cat=="iatos" %}
        <tr>
            <td class="td_label">Affiliation </td>
            <td class="td_content">
                <span id="affiliation_span" class="span-visible">
                    {{ person.affiliation }}
                </span>
            </td>
            <td class="td_button">
                <button id="affiliation_cancel_button" class="annuler_valider_button invisible_button" type="button">
                    Annuller
                </button>
                <button id="affiliation_validate_button" class="annuler_valider_button invisible_button" type="button">
                    Valider
                </button>
                <button id="affiliation_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
        </tr>
        <tr>
            <td class="td_label">Position </td>
            <td class="td_content">
                <span id="position_span" class="span-visible">
                    {{ person.position }}
                </span>
            </td>
            <td class="td_button">
                <button id="position_cancel_button" class="annuler_valider_button invisible_button" type="button">
                    Annuller
                </button>
                <button id="position_validate_button" class="annuler_valider_button invisible_button" type="button">
                    Valider
                </button>
                <button id="position_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
        </tr>
    {% else %}
        {% set cycl = person.cycle %}
        <tr>
            <td class="td_label">Cycle </td>
            <td class="td_content">
                <span id="cycle_span" class="span-visible">
                    {{ cycl }}
                </span>
            </td>
            <td class="td_button">
                <button id="cycle_cancel_button" class="annuler_valider_button invisible_button" type="button">
                    Annuller
                </button>
                <button id="cycle_validate_button" class="annuler_valider_button invisible_button" type="button">
                    Valider
                </button>
                <button id="cycle_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
        </tr>
        <tr>
            <td class="td_label">Année </td>
            <td class="td_content">
                <span id="annee_span" class="span-visible">
                    {{ person.year }}
                </span>
            </td>
            <td class="td_button">
                <button id="year_cancel_button" class="annuler_valider_button invisible_button" type="button">
                    Annuller
                </button>
                <button id="year_validate_button" class="annuler_valider_button invisible_button" type="button">
                    Valider
                </button>
                <button id="year_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button></td>
        </tr>
        <tr>
            {% if cycl == "Premier" %}
                <td class="td_label">Filière </td>
            {% else %}
                <td class="td_label">Département </td>
            {% endif %}
            <td class="td_content">
                <span id="branch_span" class="span-visible">
                    {{ person.branch }}
                </span>
            </td>
            <td class="td_button">
                <button id="branch_cancel_button" class="annuler_valider_button invisible_button" type="button">
                    Annuller
                </button>
                <button id="branch_validate_button" class="annuler_valider_button invisible_button" type="button">
                    Valider
                </button>
                <button id="branch_button" type="button"><img src="{{ url_for('static', filename='images/edit-icon-red.png') }}"></button>
            </td>
        </tr>
        <tr>
            <td class="td_content">
                <span id="branch_span" class="span-visible">
                    {{ form.submit() }}
                </span>
            </td>
        </tr>
    {% endif %}
</table>
<div class="horizontal-line"></div>