{% extends "layout.html" %}
{% block title %} A propos {% endblock %}
{% block pageName %} A propos {% endblock %}
{% block pageId %}a propos{% endblock %}
{% block positionPage %}
    A propos
{% endblock %}
{% block main %}
    <div id="page-a-propos">
        <div class="centered-container">
            <div class="black-container"><img src="../static/images/logo.svg"></div>
            {% include 'a propos/main/leprojet.html' %}
        </div>

        <!--<div id="a-propos-menu">
            <li>
                <ul>Le projet</ul>
                <ul>Utilisation du podomètre</ul>
                <ul>Les membres de l'équipes</ul>
            </li>
        </div>-->
        {% include 'apropos.html' %}
    </div>
{% endblock %}
