{% extends "layout.html" %}

{% block title %}Confirmation d'inscription{% endblock %}
{% block pageName %}Confirmation d'inscription{% endblock %}

{% block header %}
    <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/inscription/inscription_style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles/inscription/confirmation_style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block main %}
    <div id="confirmationContent" class="trasparentContainer_DIV">
    {% if msg == 'confirme' %}
        {% macro render_field(field, placeholder) %}
            <div class="confirmationField_LABEL">{{ field.label }}</div>
            <div class="confirmationField_DATA">
                {{ field(placeholder=placeholder) }}
            </div>
            {% if field.errors %}
                <ul class=confirmationField_ERRORS>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endmacro %}
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="tab_title_confirmation">
        {% if form_active %}
        <li><a href="#remerciement_inscription" aria-controls="remerciement_inscription" role="tab" data-toggle="tab">Confirmation</a></li>
        <li class="active"><a href="#completer_profil" aria-controls="completer_profil" role="tab" data-toggle="tab">Profil</a></li>
        <!--<li><a href="#photo_profil" aria-controls="photo_profil" role="tab" data-toggle="tab">Photo</a></li>-->
        {% else %}
        <li class="active"><a href="#remerciement_inscription" aria-controls="remerciement_inscription" role="tab" data-toggle="tab">Confirmation</a></li>
        <li><a href="#completer_profil" aria-controls="completer_profil" role="tab" data-toggle="tab">Profil</a></li>
        <!--<li><a href="#photo_profil" aria-controls="photo_profil" role="tab" data-toggle="tab">Photo</a></li>-->
        {% endif %}
      </ul>
            <!-- Tab panes -->
      <div class="tab-content" id="tab_content_confirmation">
        <div class="tab-pane" id="remerciement_inscription">
            <div class="title_confirmation_block">Confirmation d'inscription</div>
            <div class="description_block">Bonjour {{user.nickname}}!
            <br>Vous avez confirmé votre inscription pour le projet MOUV'INSA</div>
            <div class="next_button">Étape suivante</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="completer_profil">
            <div class="title_confirmation_block">Compléter votre profil</div>
            <div class="description_block">
                <form action="" method=post enctype=multipart/form-data id="formProfil">
                    <div class="leftElements_DIV">
                       {% if user['firstname'] == None or user['firstname'] == '' %}
                            <div class="elementForm_DIV">
                            {{ render_field(form.firstname) }}
                            </div>
                       {% endif %}
                       {% if user['lastname'] == None or user['lastname'] == '' %}
                            <div class="elementForm_DIV">
                            {{ render_field(form.lastname) }}
                            </div>
                       {% endif %}
                       {% if user['sex'] == None or user['sex'] == 'Inconnu' or user['sex'] == '' %}
                            <div class="elementForm_DIV">
                            {{ render_field(form.sex) }}
                            </div>
                       {% endif %}
                    </div>
                    <div class="rightElements_DIV">
                       {% if user['birthdate'] == None %}
                            <div class="elementForm_DIV">
                            {{ render_field(form.birthdate,'jj/mm/aaaa') }}
                            </div>
                       {% endif %}
                       {% if user['weight'] == None %}
                            <div class="elementForm_DIV">
                            {{ render_field(form.weight) }}
                            </div>
                       {% endif %}
                       {% if user['height'] == None %}
                            <div class="elementForm_DIV">
                            {{ render_field(form.height) }}
                            </div>
                       {% endif %}
                   </div>
                </form>
            </div>
            <div class="next_button" onclick="submitForm('formProfil')">Terminer</div>
        </div>
        <!--<div role="tabpanel" class="tab-pane" id="photo_profil">
            <div class="title_confirmation_block">Ajouter une photo de votre profil</div>
            <div class="description_block">
                <span id="photo_image"></span>
                <form method=post enctype=multipart/form-data id="formImage">
                <input type=file name=file>
                </form>
            </div>
            <div class="next_button" onclick="document.getElementById('formImage').submit();">Terminer</div>
        </div>-->
      </div>
    {% elif msg =='refuse' %}
        <div class="title_confirmation_block">Refus d'inscription</div>
            <div class="description_block">Bonjour {{user.nickname}}!
            <br>Vous avez refusé votre inscription pour le projet MOUV'INSA. Nous vous remercions de votre attention.</div>
            <a class="next_button" href="/">Accueil</a>
    {% endif %}
    </div>
<script type=text/javascript src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='scripts/inscription/confirmation.js') }}"></script>
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}