{% extends "inscription/squelette.html" %}

{% block header %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/inscription/inscription_style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block titre %}MOUVINSA | Inscription{% endblock %}

{% block corps %}

    <script type=text/javascript src="{{
  url_for('static', filename='scripts/inscription/inscriptionFunctions.js') }}"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='scripts/jquery.transit.js') }}"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='scripts/blur.js') }}"></script>

    <div id="headerMenu_DIV">
        Menu
    </div>

    <div class="trasparentContainer_DIV" id="presentation_DIV">
        <!-- <img src="{{ url_for('static', filename='images/inscription_fond.jpg') }}"> -->
        <p>
           INSA de Lyon et  le centre des sports organisent la mise en œuvre d’un projet gratuit, expérimental,  novateur  et dynamique intitulé MOUV’INSA. Ce projet s’inscrit dans le cadre d’un projet pédagogique transversal impliquant le département informatique, 7 élèves ingénieurs et le centre des sports.


Pour participer à ce projet volontariste qui va regrouper 48  équipes de 5 participants, vous avez la possibilité de vous préinscrire en ligne à partir du lundi 5 janvier 2015 et jusqu’au vendredi 23 janvier 2015 minuit.  A L’issue de cette étape vous recevrez par mail une confirmation de votre préinscription.
Par tirage au sort 48 équipes de 5 préinscrits seront ensuite constituées de façon aléatoire dans  la semaine du lundi 26 janvier au vendredi 30 janvier 2015 avec au sein de chaque équipe un mélange des différentes catégories de personnel. L’attribution d’un nom d’équipe commun aux 5 coéquipiers qui pourra être modifié par la suite.
        </p>

    </div>

    <div onload="blurDivs()" id="inscrivezVousHeader_DIV" onclick="showForm()">
        <span id="inscrivezVousHeader_SPAN">Inscrivez-vous</span>
        <div id="triangle_DIV" class="triangle_DIV_begin"></div>
    </div>

    <div class="trasparentContainer_DIV" id="inscrivezVousContent_DIV">
        
        {% macro render_field(field) %}
            <label class="inscriptionField_LABEL">{{ field.label }}</label>
            {{ field(class_="inscriptionField_INPUT") }}
            {% if field.errors %}
                <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endmacro %}


        <form method=post action="/inscription">
            <br/>
            <p><i>Complétez le formulaire de pré-inscription au projet MOUV'INSA. Les champs marqués par </i><em>*</em>  <i>sont obligatoires.</i> </p>

            <fieldset>

                <legend>Informations obligatoires à remplir <em> * </em></legend>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.email.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.email(placeholder="prenom.nom@insa-lyon.fr", pattern="[a-zA-Z0-9]*.[a-zA-Z0-9]*@insa-lyon.fr")}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.confirmEmail.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.confirmEmail(placeholder="prenom.nom@insa-lyon.fr", pattern="[a-zA-Z0-9]*.[a-zA-Z0-9]*@insa-lyon.fr")}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.surnom.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.surnom(placeholder="Zuzu")}}</label>
                </div>


                 <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.categorie.label }}<em> * </em>:</label>
                    <label class = "inscriptionField_SELECT">{{ form.categorie }} </label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.password.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.password}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.confirm.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.confirm}}</label>
                </div>


            </fieldset>



            <fieldset>

                 <legend>Informations optionnelles</legend>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.nom.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.nom}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.prenom.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.prenom}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.sexe.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.sexe}}</label>
                </div>

                 <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.dateNaissance.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.dateNaissance}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.poids.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.poids}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.hauteur.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.hauteur}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.cycle.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.cycle}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.annee.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.annee}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.filiere.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.filiere}}</label>
                </div>

                 <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL">{{ form.departement.label }}</label>
                    <label class="inscriptionField_SELECT"> {{ form.departement  }} </label>
                </div>


                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.position.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.position}}</label>
                </div>

                <div class="elementForm_DIV">
                    <label class="inscriptionField_LABEL"> {{ form.affiliation.label }} <em> * </em>: </label>
                    <label class =  "inscriptionField_SELECT">{{ form.affiliation}}</label>
                </div>


            </fieldset>


            <input class="inscriptionValidate_BUTTON" type=submit value="S'inscrire">
        </form>

        
    </div>

{% endblock %}