
<h1>Le projet</h1>
<p>Le projet Mouv’Insa a été pensé par Jean-Paul ANCIAN, professeur EPS au Centre des Sports de l’INSA de Lyon.</p>
<p>Ce dernier désirait sensibiliser l’ensemble du personnel et des étudiants de l’INSA de Lyon à l’activité physique et à la santé, tout en favorisant le lien social entre les différents personnels, les différents services et les différents Département de l’Ecole.</p>
<p>Il a présenté son projet à Eric DUMONT, Directeur du Centre des Sports.<p>
<p>Ensemble, ils ont mis en place des  entretiens avec des membres de la communauté de l’INSA (membres du personnel, directeurs de départements, Infirmerie…).</p>
<p>C’est très logiquement qu’un groupe de travail a été constitué au printemps 2014, constitué de :
    <li>
        <ul>Alexis METENIER, Directeur de la Fondation INSA </ul>
        <ul>Jacques JAY, Directeur GEN</ul>
        <ul>Xavier KLEBER, Directeur SGM</ul>
        <ul>Eliane ROUPIE de la cellule handicape</ul>
        <ul>Jean-Philippe NEUVILLE Sociologue</ul>
        <ul>Nicolas FREUD Directeur des  Humanités</ul>
    </li>
ainsi que des spécialistes du développement durable :
<li>
    <ul>Jean-Michel DELEUIL et Mathieu BOUYER</ul>
</li></p>
<p>Ensemble, ils ont dessiné les contours du projet dans ses dimensions étiques, responsables, techniques et financières.</p>
<p>Le CDS et le Département IF se sont associés, symbole de la transversalité et c’est ainsi que 2 étudiants d’IF ont fait leur stage de 3e année au CDS, afin de déblayer les contours de la plateforme Mouv’Insa.</p>
<p>Tout ceci a débouché sur la mise en place d’un travail de recherche des étudiants de 4 IF :</p>
<ul>
    <li>Marco MONTALTO (chef de projet)</ul>
    <li>Anthony FARAUT</li>
    <li>Ludmila DANILESCU</li>
    <li>Bernardo RITTMEYER</li>
    <li>Maria ETEGAN</li>
    <li>Hoang Son N’GUYEN</li>
    <li>Vadim CAEN</li>
</ul>
<p>La coordination du projet est assurée par Jean-Philippe PELEGRIN, professeur d’EPS au CDS.</p>
<p>En parallèle, l’ensemble des professeurs du CDS s’est mobilisé pour la mise en place des procédures créant 5 Commissions qui portent le projet.</p>
<p>Ce dernier a été présenté en Conseil De Formation en Mai 2014.</p>
<p>Le projet est soutenu financièrement par :
    <li>
        <ul>la DIRFOR: achats de podomètres.</ul>
        <ul>le CDS : prise en charge du stage des 2 étudiants IF de 3 e année et le pot de rencontres.</ul>
        <ul>la Fondation : achat des t-shirts.</ul>
        <ul>la SSHN : achat de podomètres et pot.</ul>
        <ul>les Départements SGM et IF pour des pots  (Conférence et Arrivée).</ul>
        <ul>le CASI : séance de réflexologie offerte à une des 42 équipes.</ul>
        <ul>la DIRCOM: affiches et flyers.</ul>
    </li>
</p>

<h1>Utilisation du podomètre</h1>



Chers équipier(e)s,

Ce petit mot pour vous rappeler que le projet Mouv’Insa n’est pas une course, il n’y aura pas de vainqueur, d’ailleurs, vous le serez tous si vous atteignez votre projet collectif.
Mouv’Insa, c’est simplement une sensibilisation  à l’activité physique et à la santé tout en favorisant le lien social entre les divers membres de la communauté de l’INSA de Lyon.
Depuis quelques jours, vous testez le podomètre, il se peut que vous ayez la sensation de ne pas remplir votre contrat journalier (10000 pas par jour OMS) ou hebdomadaire (70000 pas).
Ce n’est pas un problème, n’hésitez pas à contacter vos équipiers afin de discuter d’une éventuelle manière d’engendrer plus de pas par jour.

Voici quelques astuces :

-si vous venez travailler en voiture, garez vous sur un parking plus éloigner de votre lieu de travail, ou sinon, essayez de venir en vélo, à trottinette, à pieds,
-si vous devez vous rendre dans un autre bâtiment au cours de la journée, faites le à pieds,
-Si vous prenez les transports en commun, descendez une ou deux stations plus tôt,
-marchez sur les escaliers mécaniques, sur les tapis roulants,
-marchez durant vos appels téléphoniques,
-n’hésitez pas à faire une petite marche en rentrant du travail…..

Les podomètres vous sont prêtés, prenez en soin.

L’Equipe Mouv’Insa.
