<div class="containerDescript" id="descriptionProjet_text">
<h1>Le projet</h1>
<p>&nbsp; &nbsp; &nbsp; &nbsp;Le projet Mouv’Insa a été pensé par Jean-Paul ANCIAN, professeur EPS au Centre des Sports de l’INSA de Lyon.
Ce dernier désirait sensibiliser l’ensemble du personnel et des étudiants de l’INSA de Lyon à l’activité physique et à la santé, tout en favorisant le lien social entre les différents personnels, les différents services et les différents Département de l’Ecole.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;Il a présenté son projet à Eric DUMONT, Directeur du Centre des Sports.Ensemble, ils ont mis en place des  entretiens avec des membres de la communauté de l’INSA (membres du personnel, directeurs de départements, Infirmerie…).</p>
  <h2>Groupe de travail</h2>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;C'est très logiquement qu'un groupe de travail a été constitué au printemps 2014, constitué de : </p>
    <ul class="financ"><li><b>Alexis METENIER</b>, Directeur de la Fondation INSA </li>
        <li><b>Jacques JAY</b>, Directeur GEN</li>
        <li><b>Xavier KLEBER</b>, Directeur SGM</li>
        <li><b>Eliane ROUPIE</b>, de la cellule handicape</li>
        <li><b>Jean-Philippe NEUVILLE</b>, Sociologue</li>
        <li><b>Nicolas FREUD</b>, Directeur des  Humanités</li>
        <li><b>Jean-Michel DELEUIL</b>, Spécialiste du développement durable</li>
        <li><b>Mathieu BOUYER</b>, Spécialiste du développement durable</li></ul>


<p>  &nbsp; &nbsp; &nbsp; &nbsp; Ensemble, ils ont dessiné les contours du projet dans ses dimensions étiques, responsables, techniques et financières. Le CDS et le Département IF se sont associés, symbole de la transversalité et c’est ainsi que 2 étudiants d’IF ont fait leur stage de 3e année au CDS, afin de déblayer les contours de la plateforme Mouv’Insa.</p>
<p>Tout ceci a débouché sur la mise en place d’un travail de recherche et developpement des étudiants de 4 IF :</p>

<ul><li>Marco MONTALTO (chef de projet)</li>
        <li>Vadim CAEN</li>
        <li>Ludmila DANILESCU</li>
        <li>Maria ETEGAN</li>
        <li>Anthony FARAUT</li>
        <li>Bernardo RITTMEYER</li>
        <li>Hoang Son N’GUYEN</li></ul>

<p>&nbsp; &nbsp; &nbsp; &nbsp;La coordination du projet est assurée par <b>Jean-Philippe PELEGRIN</b>, professeur d’EPS au CDS.
    En parallèle, l’ensemble des professeurs du CDS s’est mobilisé pour la mise en place des
    procédures créant 5 Commissions qui portent le projet. Ce dernier a été présenté en Conseil De Formation en Mai 2014.</p>
 <div class="group-photo">
     <img src="../../../static/images/groupe.jpg" alt="equipe mouvinsa"  />
 </div>
    <p class="legende"><i>Une partie de l'équipe du Mouv'INSA</i></p>
    <br/>
     <h2>Financement</h2>
<p>&nbsp; &nbsp; &nbsp; &nbsp;Le projet est soutenu financièrement par :</p>
    <ul class="financ">
        <li><b>la DIRFOR</b> : achats de podomètres.</li>
        <li><b>le CDS</b> : prise en charge du stage des 2 étudiants IF de 3 e année et le pot de rencontres.</li>
        <li><b>la Fondation</b> : achat des t-shirts.</li>
        <li><b>la SSHN</b> : achat de podomètres et pot.</li>
        <li><b>les Départements SGM et IF</b> : pots (Conférence et Arrivée).</li>
        <li><b>le CASI</b> : séance de réflexologie offerte à une des 42 équipes.</li>
        <li><b>la DIRCOM</b> : affiches et flyers.</li>
    </ul>

   <br/>

<h1>Petit Mot</h1>
<p>&nbsp; &nbsp; &nbsp; &nbsp;Chers équipier(e)s,</p>

 <p> &nbsp; &nbsp; &nbsp; &nbsp;Ce petit mot pour vous rappeler que le projet Mouv’Insa n’est pas une course, il n’y aura pas de vainqueur, d’ailleurs, vous le serez tous si vous atteignez votre projet collectif.
Mouv’Insa, c’est simplement une sensibilisation  à l’activité physique et à la santé tout en favorisant le lien social entre les divers membres de la communauté de l’INSA de Lyon.
Depuis quelques jours, vous testez le podomètre, il se peut que vous ayez la sensation de ne pas remplir votre contrat journalier (10000 pas par jour OMS) ou hebdomadaire (70000 pas).
Ce n’est pas un problème, n’hésitez pas à contacter vos équipiers afin de discuter d’une éventuelle manière d’engendrer plus de pas par jour.</p>

<p>Voici quelques astuces :</p>
<ul class="financ">
<li>si vous venez travailler en voiture, garez vous sur un parking plus éloigner de votre lieu de travail,
    ou sinon, essayez de venir en vélo, à trottinette, à pieds,</li>
<li>si vous devez vous rendre dans un autre bâtiment au cours de la journée, faites le à pieds,</li>
<li>si vous prenez les transports en commun, descendez une ou deux stations plus tôt,</li>
<li>marchez sur les escaliers mécaniques, sur les tapis roulants,</li>
<li>marchez durant vos appels téléphoniques,</li>
<li>n’hésitez pas à faire une petite marche en rentrant du travail…..</li>
</ul>
<p>Les podomètres vous sont prêtés, prenez en soin.</p>

<p>L’Equipe Mouv’Insa.</p>

    <h1>Le podomètre</h1>
    <p><b>Guide d’utilisation Ex30</b></p>
 &nbsp; &nbsp; &nbsp;Le podomètre Ex30 détecte l’accélération sur chacun des 3 axes et donc la position/direction de celui-ci n’est pas cruciale.<br/>
     &nbsp; &nbsp; &nbsp;N’étant pas imperméable à l’eau, celui-ci devra donc être traité soigneusement.
    <p>Le podomètre ne possède pas de bouton « MARCHE/ARRET » dans la mesure où sa consommation de courant
    est extrêmement faible à l’arrêt.</p>

<p><b>Fonction filtre</b></p>
<p>Le podomètre possède une fonction laquelle empêche l’enregistrement non désiré des pas en position d’arrêt
    ou en effectuant des petits mouvements occasionnels ne faisant pas une partie de la promenade/marche.
    Pour le comptage correct des pas, le podomètre utilise un filtre de 10 secondes.
    Ceci signifie que le podomètre devra être utilisé pendant 10 secondes avant que le nombre de pas
    puisse être indiqué sur l’affichage.</p>

<p><b>Fixation du podomètre</b></p>
&nbsp; &nbsp; &nbsp;Le podomètre Ex3 pourra être porté autour du cou, dans la poche, etc.<br/>

<p><b>Réglage du temps</b></p>
&nbsp; &nbsp; &nbsp;Il est important de régler correctement l’heure afin que la fonction de mémoire de 7 jours puisse fonctionner exactement.<br/>
&nbsp; &nbsp;  &nbsp;Appuyer sur MODE de façon répétée jusqu’à ce que le temps soit indiqué sur l’affichage.<br/>
&nbsp; &nbsp;  &nbsp;Appuyer sur SET et tenir appuyé jusqu’à ce que le temps se mette à clignoter.<br/>
&nbsp; &nbsp;  &nbsp;Appuyer sur SET pour changer l’heure.<br/>
&nbsp; &nbsp;  &nbsp;Appuyer sur SET pour changer les minutes.<br/>

<p><b>Mémoire 7 jours</b></p>
&nbsp; &nbsp; &nbsp;Le podomètre dispose d’une mémoire de sept jours permettant d’afficher vos performances pendant les sept derniers jours écoulés.<br/>
&nbsp; &nbsp; &nbsp;Appuyer sur MODE pendant 2 secondes afin d’enclencher la fonction mémoire.<br/>
&nbsp; &nbsp; &nbsp;Appuyer sur SET afin de sélectionner le jour correspondant.<br/>
&nbsp; &nbsp; &nbsp;Appuyer sur SET afin de commuter entre pas, distance et calories pour le jour sélectionné.<br/>
&nbsp; &nbsp; &nbsp;Les données entrées dons la mémoire sont stockées chaque jour à minuit et le podomètre se réinitialisera ensuite automatiquement.<br/>
<p><b>Fonction baromètre pas</b></p>
<p>Dans la partie droite supérieure ou partie gauche inférieure de l’affichage on trouvera une fonction
    baromètre pas vous aidant à améliorer votre santé en effectuant journellement une distance comptant 10000 pas.
    Ce baromètre est équivalente à une moyenne de 1666 pas.</p>
<p>Indiquer le temps de marche/course effectif.
Appuyer sur MODE jusqu’à ce que le texte « TMR » s’affiche.
    Le minuteur intégré fonctionne automatiquement et se déclenche dès que la marche/le jogging
    démarre puis s’interrompt dès l’arrêt.</p>

</div>