{% extends "layout.html" %}
{% block title %} Reglages {% endblock %}
{% block pageName %} Reglages {% endblock %}
{% block pageId %}reglages{% endblock %}
{% block positionPage %}
    Reglages
{% endblock %}
{% block pageHeader %}{% include "person/main/header.html" %}{% endblock pageHeader %}
{% block main %}
    <form method="post" enctype="multipart/form-data" action="{{ url_for('reglages') }}" >
        {{ form.hidden_tag() }}
       <div class="container account-content">
        {% include "reglages/main/account_content.html" %}
    </div>
    </form>
{% endblock %}