{% extends "layout.html" %}
{% block title %} Accueil {% endblock %}
{% block pageName %} Accueil {% endblock %}
{% block pageId %}accueil{% endblock %}
{% block positionPage %}
    Accueil
{% endblock %}
{% block linksOtherPages %}
    {% if person=="none" %}
        {% include "accueil/main/navBarNotConnected.html" %}
    {% else %}
        {% include "accueil/main/navBarConnected.html" %}
    {% endif %}
{% endblock %}
{% block main %}
	<div id="main" class="main">
        <div class="inscriptionTermine_DIV">
            <p>
                Les inscriptions pour cette édition de Mouv'INSA sont terminées.
                Pour toute info, nous contacter à l'adresse : mouvinsa.communication@gmail.com. A bientôt!
            </p>
        </div>
    	<img class="logo-main" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
    	<div class="your-clock"></div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    {% include 'apropos.html' %}
{% endblock %}
