{% extends "layout.html" %}
{%  set title = "Accueil" %}
{% block pageName %}{{ title }}{% endblock %}
{% block pageId %}accueil{% endblock %}
{% block positionPage %}
    Accueil
{% endblock %}
{% block main %}

	<div id="counter" class="main">
        <div id="avis">
            <p style="font-family: bebas_neue_bold;text-align: center;font-size: 30px;margin-top: 15px;margin-bottom: 10px;">Mouv'INSA : Pot d'arrivée</p>
<p>Cher(e)s équipier(e)s,</p>
<p>le projet Mouv'Insa arrive à son terme. En effet, l'arrivée symbolique se déroulera Jeudi 7 Mai. </p>
            <p><b>Rendez vous à 12h15 devant le bâtiment de l'administration.</b> Cet évènement sera suivi d'un pot, offert par le département Informatique, dans le hall de l'amphithéâtre Lespinasse.
A cette occasion, la CASI récompensera 2 équipes (les plus assidues à l'enregistrement des données). Chaque équipier se verra offrir 1 séance de réflexologie, réalisée par Corinne PAYEN.</p>
<p>Sportivement.</p>

<p>L'équipe Mouv'Insa.</p>
</div>
    	<img class="logo-main" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
    	<div class="nb-de-Pas-container">{{ nbPasTotales }}<span id="pas-text">Pas</span></div>
        <div class="nb-km-container">{{ distanceTotale }}<span id="km-text">Kilomètres</span></div>
    </div>
    <div id="earth">
        <span>L'INSA a fait {{ toursTerre }} tours de la terre!</span>
        <img src="{{ url_for('static', filename='images/left.png') }}">
    </div>
    <div class="teamsGroup">
        <div class="teamsDivTitle">Equipes</div>
        <table id='teamsTable' class='teamsTable'>
        {% for group in groups %}
            <td>
                <table class='teamTable'>
                    <td class = 'team'>
                        <a href="/resultats/equipe?idEquipe={{ group.id }}"><div class='imgIdGroup'>{{ group.id }}</td></a>
                    <td>
                        <ul class='listDescriptionTeam'>
                            <a href="/resultats/equipe?idEquipe={{ group.id }}"><li class='teamName'>{{ group.label }}</li></a>
                            <li class='steps'>{{ group.stepSum or 0}} pas</li>
                        </ul>
                    </td>
                </table>
            </td>

            {% if loop.index is divisibleby(3) %}
                </tr><tr>
            {% endif %}

        {% endfor %}
        </tr>
        </table>
    </div>
{% endblock %}
{% block footer %}
    {% include 'apropos.html' %}
    {{ super() }}
{% endblock %}
