{% extends "layout.html" %}
{% block title %} Accueil {% endblock %}
{% block pageName %} Accueil {% endblock %}
{% block pageId %}accueil{% endblock %}
{% block positionPage %}
    Accueil
{% endblock %}
{% block main %}
	<div id="main" class="main">
    	<img class="logo-main" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
    	<div class="your-clock"></div>
    </div>
    <div class="teamsGroup">
        <div class="teamsDivTitle">Equipes</div>

        <table id='teamsTable' class='teamsTable'>
        {% for group in groups %}
            <td>
                <table class='teamTable'>
                    <td class = 'team'>
                        <a href="/resultats/equipe?idEquipe={{ group.id }}"><div class='imgIdGroup'>{{ loop.index }}</td></a>
                    <td>
                        <ul class='listDescriptionTeam'>
                            <a href="/resultats/equipe?idEquipe={{ group.id }}"><li class='teamName'>{{ group.label }}</li></a>
                            <li class='steps'>{{ group.stepNum or 0}} pas</li>
                        </ul>
                    </td>
                </table>
            </td>

            {% if loop.index is divisibleby(3) %}
                </tr><tr>
            {% endif %}

        {% endfor %}
        </tr>
        </table>
    </div>

    {% include 'apropos.html' %}
{% endblock %}
