<!DOCTYPE HTML>
<html>

<head>
        <title>{% block title %}{%  endblock %} - Mouv'INSA</title>
        <meta charset="utf-8">
        <meta name="description" content="165c. uniques">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/flipclock.css') }}">

        {% include 'scripts.html' %}
</head>

<body>
    <div id="page">
        <header>{% include 'header.html' %}</header>
        <nav>{% include 'menu.html' %}</nav>
        <div id="main" class="main">{% block main %}{% endblock %}</div>
        <footer>{% include 'footer.html' %}</footer>
    </div>


</body>
</html>